
body{
    margin: 0;
    background-color: black;
}
img{

        width: 1600px;
        height: 500px;
        padding: 40px 90px;
        object-fit: cover;

}
form{

    left: 20px;
    right: 20px;
    padding: 20px 10px;
}

/*header*/
body{
    background-color: #131313;
}
body>header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;

}

body>header>section:first-child {
    height: 40px;
    background-color: #262626;
    position: relative;
}
body>header>section:first-child>h4{
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    font-weight: 100;
    margin-top: 0;
    padding-top: 10px;
    margin-left: 20px;
    width: max-content;

}



body>header>section:first-child>h4:hover{
    color: rgba(14, 234, 14, 0.89);
}

body>header>section:first-child>nav>a>button {
    position: absolute;
    color: white;
    background: rgba(11, 229, 11, 0.89);
    border: none;
    top: 5px;
    right: 40px;
    border-radius: 10px;
    font-size: 12px;
    padding: 4px 40px;
    font-family: 'Poppins', sans-serif;
}

body>header>section:first-child>nav>a>button:hover {
    color: black;
    background: white;
    cursor: url(assets/image/circle.png), pointer;
}

body>header>section:nth-child(2) {
    height: 50px;
    background-color: #2f2d2d;
    position: relative;
}

body>header>section:nth-child(2)>h3 {
    color: #ffffff;
    margin-top: 0;
    padding-top: 10px;
    margin-left: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    opacity: 80%;
    width: max-content;

}

body>header>section:nth-child(2)>h3:hover {
    color: rgba(89, 213, 89, 0.89);
    letter-spacing: 2px;
}

body>header>section:nth-child(2)>nav>menu {
    list-style: none;
    margin: 0;
}

body>header>section:nth-child(2)>nav>menu>li>a {
    text-decoration: none;
    color: white;
    z-index: 2;
}

body>header>section:nth-child(2)>nav {
    position: absolute;
    top: 10px;
    right: 40px;
}




body>header>section:nth-child(2)>div:nth-child(3) {
    visibility: hidden;
}

body>header>section:nth-child(2)>div:nth-child(3)>i {
    color: #7e7575;
}


body>main>section>section>hr {
    animation-name: hr_width;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes hr_width {
    0% {
        width: 0%;
    }

    80% {
        width: 80%;
    }

    80% {
        width: 80%;
    }
}

body>footer {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    line-height: 18px;
    position: relative;
    width: 100%;
    background-color: #262626;
    height: 100px;
    text-align: center;
    z-index: 2;
}

body>footer>div {
    display: flex;
    width: max-content;
    margin: auto;
    align-items: center;
    position: relative;
    height: 100%;
    justify-content: center;
    /* background-color: red; */
}

body>footer>nav {
    display: none;
}

.sub_section {
    background-color: #131313;
    /* background-color: burlywood; */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}
.page_sec1{
    height: 250vh;
    position: relative;
}
.page_sec {
    height: 100vh;
    position: relative;
    /* border: 2px solid greenyellow; */
}

body>div:nth-child(4) {
    position: fixed;
    bottom: 75px;
    right: 50px;
    border: 5px solid #858585;
    border-top: 5px solid white;
    border-radius: 200px;
    transition-duration: 0.5s;
    transition-property: border;
    z-index: 2;
    animation: rotateDiv 3s linear infinite;
}

@keyframes rotateDiv {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body>div:nth-child(4)>a>i {
    font-size: 3em;
    color: #3b3b3b;
    border-radius: 200px;
    animation: rotateDiv 3s linear infinite, up_icon_fade 2s linear 0s infinite;
    animation-direction: reverse;
}

@keyframes up_icon_fade {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

body>div:nth-child(4):hover {
    animation-play-state: paused;
    border: 5px solid rgb(176, 22, 210);
    transition-duration: 0.5s;
    transition-property: border;
}


main {
    position: relative;
}

/*set scroll bar*/
* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background-color: #262626;
}

::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
}

#loading_section {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #131313;
    z-index: 100;
}

#loading_section>div {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: max-content;
    height: max-content;
}

/* media queries */
/* 320px */
/*set headertag*/
@media all and (max-width:320px) {
    .code {
        font-size: 10px;
        text-shadow: none;
    }

    /* header  */
    body > header > section:nth-child(2) > nav {
        display: none;
    }

    body > header > section:first-child > h4 {
        font-size: 10px;
        padding-top: 13px;
        margin-left: 10px;
    }

    body > header > section:first-child > nav > a > button {
        height: 25px;
        width: max-content;
        font-size: 10px;
        right: 10px;
    }

    body > header > section:nth-child(2) {
        height: 40px;
    }

    body > header > section:nth-child(2) > h3 {
        margin-left: 10px;
        font-size: 13px;
        padding-top: 10px;
    }

    body > header > section:nth-child(2) > div:nth-child(3) {
        visibility: visible;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        height: max-content;
        right: 20px;
        font-size: 1.5em;
    }
}

/*home*/
#home>section>section {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 50%;
    text-align: center;
    z-index: 2;
}
mypic {
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
    border: 10px solid black;
}

#home>section>section>hgroup>h1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
}

#home_th {
    animation-name: home_th_glow;
    animation-duration: 4s;
    color: #13ef13;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes home_th_glow {
    0% {
        text-shadow: none;
    }

    70% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.9), 0 0 50px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5);
    }
}

#home>section>section>hgroup>h4 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 44%;
    width: max-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 1.8vw;
    color: white;
}
#home>section>section>article>p {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 52%;
    text-align: center;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
#home>section>section>nav>a>button {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 67%;
    color: white;
    background: rgba(11, 157, 11, 0.89);
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px 30px;
    /*font-family: 'Poppins', sans-serif;*/
    height: 35px;
    width: 160px;
    animation-name: home_btn_position;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: alternate; */
}
@keyframes home_btn_position {
    0% {
        left: 0;
        right: 0;
    }

    25% {
        left: 10%;
        right: 0;
    }

    50% {
        left: 0;
        right: 0;
    }

    75% {
        left: 0;
        right: 10%;
    }

    100% {
        left: 0;
        right: 0;
    }
}
#home>section>section>nav>a>button:hover {
    color: black;
    background: white;
    cursor: url(assets/image/circle.png), pointer;
}

/* home  */

#home>section>section {
    width: 90%;
}

#home>section>section>hgroup>h1 {
    font-size: 65px;
    top: 165px;
    line-height: 45px;
}

#home>section>section>hgroup>h4 {
    font-size: 30px;
    top: 275px;
}

#home>section>section>article>p {
    font-size: 18px;
    width: 90%;
    top: 320px;
}

#home>section>section>nav>a>button {
    top: 444px;
    font-size: 10px;
    height: 26px;
    width: 150px;
}
#my-profile1{
    width: 800px;
    height: 800px;
    margin: auto;
}
.mypic1{
    width: 1000px;
    height: 800px;
    margin: auto;
    top: 100px;
    left: 100px;
    padding: 100px;
    border-bottom-left-radius: 40px;
}



/*contact*/

.last-text {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(153, 167, 168);
    font-weight: 300;
    margin-top: 70px;
}
.contact-text{
    margin: 0 40px 20px 40px ;
}
/*image{*/
/*    background: 500px;*/
/*}*/

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
    margin-right: 3.5rem;

}
.top i {
    color: #000000;
    background: #8f8585;
    font-size: 20px;
    padding: 8px;
    border-radius: 0.5rem;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact img {
    height: 300px;
    width: 300px;
    opacity: 0.2;
    border-radius: 50%;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: left;
    color: #8f8585;
}

.contact-text h2 span {
    color: #ffffff;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 30px;
    margin-bottom: 2rem;
}

.contact-text p {
    color: rgb(163, 163, 163);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
    color: #8f8585;
    /* margin-left: 20px; */
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #99a7a8;
    font-size: 20px;
    font-weight: 600;
}

.contact-list li a:hover {
    color: #99a7a8;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #99a7a8;
    border-radius: 50%;
    font-size: 20px;
    color: #99a7a8;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}

.contact-icons i:hover {
    background: #99a7a8;
    color: #000000;
    box-shadow: 0 0 20px #8f8585;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555555;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #99a7a8;
    border-radius: 40px;
    font-size: 18px;
    color: #070a0a;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px rgb(7, 10, 10),
    0 0 25px #110a0a;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px #1f5e29,
    0 0 25px #110a0a, 0 0 50px #070a0a,
    0 0 100px #110a0a, 0 0 200px #110a0a;
}

/* Add custom styles here */
.jumbotron {
    background-image: url('/assets/image/hotel-image1.jpg'); /* Replace with your hotel image */
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

/*home contain*/
.col-md-6 p{
    color: white;
}

/*about setion */
.box {
    padding: 14px 60px;
    border-radius: 1px;
    border: 2px solid white;
    margin: 0 10px 10px 10px;
}
/*about*/
.contant{
    color: white;
}

/*galary*/

.row{
    padding: 14px 60px;
    border-radius: 1px;
    border: 2px solid white;
    margin: 0 10px 10px 10px;
}
/* Add custom styles here */
.gallery-item {
    margin-bottom: 30px;
}
.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    border-color: aliceblue;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px #1032d9;
    padding: 10px;
    margin: 0 20px 10px 10px;
    /*grid-template-columns: repeat(4,1fr);*/
    /*display: grid;*/
    /*flex-direction:row;*/
    /*gap: 10px;*/
}


.gallery-item img:hover {
    transform: scale(1.3);
}
.text-center mt-5{
    color: white;
}
div>h2{
    color: white;
}

.set-name{
    color: white;
}


.form-label{
    color: white;
}

/*room*/

.gallery-item1 img{
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    border-color: aliceblue;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px #e7eff8;
    padding: 5px;
    margin: 0 20px 10px 10px;
}

.gallery-item2 img{
    width: 300px;
    height: 300px;
    transition: transform 0.4s ease;
    border-color: aliceblue;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    margin: 0 20px 10px 10px;
    text-align: center;
}

.gallery-item1 img:hover{
    transform: scale(1.4);
}


.image{
    float: left;

}
.row{

}

.container1{


}

